.chatInput{
    background-color:#fafafa;
    bottom: 0px;
    position: fixed;
     z-index: 1;
   
}
.chatInput >form> input{
    outline-width: 0;
    border:1px solid #dbdbdb;
    padding: 7px;
    border-radius: 10px;
    width: 90vw;
    margin:5px 10px

}
.chatInput >form> button{
    display: none;
}
