*{
  margin:0
}
.app{
  background-color: #fafafa;
}
.app__header{
  object-fit: contain;
  background-color: white;
  padding: 20px;
  border-bottom:1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top:0;
  z-index:1
}
.app__headerImage {
  height: 50px;
}
.app__loginContainer{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.app__posts{
  padding: 20px;
}